body {
    background-color:  rgba(15, 185, 190, 0.87);
    color: white;
}
ul, li{
    list-style-type:none;
}
ul {
    margin: 0 auto;
}
input {
    cursor: pointer;
}
h1 {
    text-align: center;
}